<footer class="py-5">
  <div class="container d-flex flex-column">
    <div class="row">
      <div class="col-12 col-md-4">
        <h2>Liens utiles</h2>
        <ul>
          <li><a href="#">Mentions légales</a></li>
          <li><a href="#">Politiques de confidentialité</a></li>
          <li><a href="#">CGU</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <h2>Contact</h2>
        <ul>
          <li><a href="#">04 77 56 21 23</a></li>
          <li><a href="#">contact@centreautocas.com</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <p>
          Trouvez votre voiture d'occasion parmis celles proposées par nos
          partenaires et bénéficiez du meilleur prix
        </p>
      </div>
    </div>
    <a class="mx-auto pt-5">© Centre Auto Cas 2021</a>
  </div>
</footer>