@use '../../../styles/index' as*;

.show-filters {
  margin-bottom: 3rem;
  span + span {
    margin-left: 1rem;
  }

  span {
    padding: 1rem;
    background-color: var(--yellow);
    border-radius: .3rem
  }
}
