<link rel="stylesheet" href="filter-bar.component.scss">
<section class="filter">
  <div class="filter-bar py-3" (click)="c.toggle()">
    <div class="container">
      <h2 class="filter-bar-content">RECHERCHER</h2>
    </div>
  </div>
  <!-- FILTER CONTENT COLLAPSE -->
  <div
    class="filter-content collapse"
    id="filterCollapse"
    #c="ngbCollapse"
    [(ngbCollapse)]="isCollapsed"
  >
    <div class="container">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row py-5 justify-content-between flex-row">
          <div
            class="
              col-12 col-lg-6
              d-flex
              flex-column
              justify-content-between
              gap-3
            "
          >
            <div class="form-group gap-3 align-items-center">
              <label class="form-label mb-2" for="brand">Marque</label>
              <select
                class="form-select"
                name="brand"
                id="brand"
                [formControl]="form.controls.brand"
                (change)="getModelsBySelectedBrand($event.target.value)"
              >
                <option selected value="undefined">Sélectionnez une marque</option>
                <option *ngFor="let marque of marques">{{marque}}</option>
              </select>
            </div>
            <div class="form-group gap-3 align-items-center">
              <label class="form-label mb-2" for="model">Modèle</label>
              <select
                id="model"
                class="form-select"
                name="model"
                [formControl]="form.controls.modele"
              >
                <option selected>Sélectionnez un modèle</option>
                <option *ngFor="let modele of modeles">{{modele}}</option>
              </select>
            </div>
            <div class="form-group gap-3 align-items-center">
              <label class="form-label mb-2" for="carburant">Type de carburant</label>
              <select
                class="form-select"
                id="carburant"
                name="carburant"
                [formControl]="form.controls.typeCarburant"
              >
                <option selected>Sélectionnez un type de carburant</option>
                <option *ngFor="let carburant of typeCarburant">{{carburant}}</option>
              </select>
            </div>
          </div>
          <div
            class="
              col-12 col-lg-6
              d-flex
              flex-column
              justify-content-between
              gap-3
            "
          >
            <div class="form-group priceRange">
              <label for="rangePrix">Prix</label>
              <nouislider id="rangePrix" name="rangePrix" [config]="rangePriceConfig" [formControl]="form.controls.rangePrix"></nouislider>
            </div>
            <div class="form-group">
              <label for="rangeYear">Année de mise en circulation</label>
              <nouislider id="rangeYear" name="rangeYear" [config]="rangeYearConfig" [formControl]="form.controls.rangeYear"></nouislider>
            </div>
            <div class="form-group">
              <label for="rangeKm">Kilométrage</label>
              <nouislider id="rangeKm" name="rangeKm" [config]="rangeKmConfig" [formControl]="form.controls.rangeKm"></nouislider>
            </div>
          </div>
          <div class="col-12 col-md-6 offset-md-6 mt-5">
            <button
              class="btn btn-yellow"
              data-bs-toggle="collapse"
              data-bs-target="#filterCollapse"
            >
              Rechercher
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
