<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 login-form">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
          <div class="form-group">
            <label for="email">
            E-mail
          </label>
            <input id="email"
                   type="email"
                   placeholder="monemail@gmail.fr"
                   formControlName="email"
            >
          </div>

          <ul *ngIf="form.controls.email.touched && !form.controls.email.valid">
            <li *ngIf="form.controls.email.hasError('required')">
              Ce champs est requis
            </li>
            <li *ngIf="form.controls.email.hasError('email')">
              L'email n'est pas valide
            </li>
          </ul>
        </div>

        <div>
          <div class="form-group">
            <label for="password">
            Mot de passe
          </label>
            <input id="password"
                   type="password"
                   placeholder="Mot de passe"
                   formControlName="password"
            >
          </div>

          <ul *ngIf="form.controls.password.touched && !form.controls.password.valid">
            <li *ngIf="form.controls.password.hasError('required')">
              Ce champs est requis
            </li>
          </ul>
        </div>

        <button class="btn btn-yellow" type="submit">
          Connexion
        </button>
      </form>
    </div>
  </div>
  <img src="../../assets/image/login-bg.svg" alt="login" />
</div>
