:root {
  --font-family: "Roboto", sans-serif;
  --title-font: "Londrina Solid", cursive;
  --font-big-title: "Bebas Neue", cursive;
  --blue-dark: #0072cf;
  --blue-light: #0088fc;
  --yellow: #fbd905;
  --text: #333;
  --text-light: #f1f1f1;
  --blue-gradient: linear-gradient(
    to bottom,
    var(--blue-dark),
    var(--blue-light)
  );
  --dark-gradient: linear-gradient(to bottom, #000, #272727);
}
