@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
button {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 0;
  background: var(--yellow);
  animation: fadeIn 0.5s;
  img {
    stroke: #333;
  }
}
