<div class="card">
  <a href="./pages/post.html">
    <div class="card-top">
      <strong class="card-km">{{ voiture.kilometer }}</strong>
      <img class="card-img-top" [src]="voiture.photos[1]" alt="" />
    </div>
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="m-0">{{ voiture.title }}</h3>
      <p class="year m-0">{{ voiture.year }}</p>
    </div>
  </a>
  <div class="card-body d-flex flex-column">
    <p class="card-price">
      {{ voiture.price }} €<span>{{ voiture.carburant }}</span>
    </p>
    <p class="card-text">
      {{ voiture.description }}
    </p>
    <a [routerLink]="['advert/', voiture.id]" class="btn btn-yellow btn__path-anim"
      >Voir l'annonce</a
    >
  </div>
</div>
