<section class="post py-5" >
  <div class="container">
    <div class="row">
      <ngx-spinner type="cog" bdColor = "rgba(35,116,223,1)"></ngx-spinner>
      <div class="col-12 col-lg-6 mb-5">


        <div class="main-advert-image-container" *ngIf="voiture">
          <img class="main-advert-image w-100 mb-4" [src]="voiture.photos[0]" alt="" />
        </div>
        <div class="row mt-4" *ngIf="voiture">
          <div class="col-4 little" *ngIf="voiture.photos.length > 1">
            <img class="img-fluid" [src]="voiture.photos[1]" alt="" />
          </div>
          <div class="col-4 little" *ngIf="voiture.photos.length > 2">
            <img class="img-fluid" [src]="voiture.photos[2]" alt="" />
          </div>
          <div class="col-4 little" *ngIf="voiture.photos.length > 3">
            <img class="img-fluid" [src]="voiture.photos[3]" alt="" />
          </div>
        </div>
      </div>
      <div class="post-details col-12 col-lg-6" *ngIf="voiture">
        <div class="post-details-header d-flex justify-content-between mb-4">
          <h2 class="m-0">{{ voiture.title }}</h2>
          <p class="ref align-self-end m-0">{{ voiture.id }}</p>
        </div>
        <p class="post-details-content">{{ voiture.description }}</p>
        <div class="post-details-footer d-flex justify-content-between mt-5">
          <p class="price m-0">{{ voiture.price | number:'1.0-2':'fr' }} €</p>
          <a
            href=""
            class="
              btn btn-yellow btn__path-anim
              d-flex
              align-items-center
              justify-content-center
            "
            >Je suis intéressé</a
          >
        </div>
        <div class="post-details-more p-4 mt-5">
          <h3 class="py-2">Détails</h3>
          <ul class="m-0">
            <li>Année de mise en circulation : {{ voiture.year }}</li>
            <li>Kilomètres: {{ voiture.kilometer }} km</li>
            <li>Marque : {{ voiture.brand }}</li>
            <li>Modèle : {{ voiture.model }}</li>
            <li>Carburant : {{ voiture.carburant }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
