@use '../../styles/index' as *;

.post {
  background: #f1f1f1;

  .main-advert-image-container {
    max-height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
  }

  .little {
    overflow: hidden;
    max-height: 8rem;
  }
}

.post-details {
  &-header {
    p {
      opacity: 0.5;
    }
  }
  &-footer {
    gap: 5%;
    p {
      font-size: 36px;
      font-weight: 700;
    }

    .btn {
      flex-grow: 1;
      font-size: 20px;

      &:after {
        content: "";
        animation: none;
      }
    }
  }

  &-more {
    background: var(--blue-gradient);
    border-radius: 3px;
    color: var(--text-light);

    ul {
      li {
        padding: 20px 0;
        border-top: 1px solid rgb(241, 241, 241, 0.3);
        display: flex;

        &:last-of-type {
          padding: 20px 0 0 0;
        }

        &:before {
          width: 25px;
          height: 25px;
          margin-right: 15px;
        }

        &:nth-of-type(1):before {
          content: url(../../assets/image/Orion_time.svg);
        }
        &:nth-of-type(2):before {
          content: url(../../assets/image/Orion_speed.svg);
        }
        &:nth-of-type(3):before {
          content: url(../../assets/image/Orion_house.svg);
        }
        &:nth-of-type(4):before {
          content: url(../../assets/image/Orion_car2.svg);
        }
        &:nth-of-type(5):before {
          content: url(../../assets/image/Orion_gas-station.svg);
        }
      }
    }
  }
}
