<section class="post py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mb-5">
        <img class="w-100 mb-4" src="../img/car2.jpg" alt="">
        <div class="row">
          <div class="col-4"><img class="img-fluid" src="../img/car2.jpg" alt=""></div>
          <div class="col-4"><img class="img-fluid" src="../img/car2.jpg" alt=""></div>
          <div class="col-4"><img class="img-fluid" src="../img/car2.jpg" alt=""></div>
        </div>
      </div>
      <div class="post-details col-12 col-lg-6">
        <div class="post-details-header d-flex justify-content-between mb-4">
          <h2 class="m-0">Audi 5 portes</h2>
          <p class="ref align-self-end m-0">ref JDG2V</p>
        </div>
        <p class="post-details-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex quo alias repellendus labore eius corporis odio in! Distinctio consequuntur necessitatibus quo doloremque voluptatem voluptatibus dicta rerum veniam consectetur, ex placeat nihil molestias sint porro voluptates perferendis enim id nisi laborum quia delectus corporis aliquam saepe. Fuga reprehenderit laboriosam rerum cupiditate voluptatem, adipisci aliquam eius numquam quis, in non minus dicta quaerat, quod dolorum obcaecati reiciendis! Suscipit, quaerat eius deserunt consequuntur tenetur provident modi repellat debitis molestiae! Et, quae, laborum ratione sapiente quasi eius suscipit maiores eveniet debitis perferendis architecto, est consequuntur deserunt laboriosam animi beatae minus ipsum hic corporis ad.</p>
        <div class="post-details-footer d-flex justify-content-between mt-5">
          <p class="price m-0">14 600 €</p>
          <a href="" class="btn btn-yellow btn__path-anim d-flex align-items-center justify-content-center">Je suis intéressé</a>
        </div>
        <div class="post-details-more p-4 mt-5">
          <h3 class="py-2">Détails</h3>
          <ul class="m-0">
            <li>Année de mise en circulation : 2007</li>
            <li>Kilomètres: 157 053 km</li>
            <li>Marque : Audi</li>
            <li>Modèle : Logan r645</li>
            <li>Carburant : Diesel</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>