/* You can add global styles to this file, and also import other style files */
@use './styles/index' as *;
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import '../node_modules/transition-style/transition.min.css';

* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--yellow) var(--blue-dark); /* scroll thumb and track */
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: var(--blue-dark);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 2rem;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .container {
    min-width: 90vw !important;
  }
}

@keyframes text-fill {
  0% {
    background-position: left -200px;
  }
  100% {
    background-position: left 0px;
  }
}

.btn {
  &__path-anim {
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 0 0);

    &:after {
      content: url(./assets/image/Orion_car.svg);
      position: absolute;
      width: 25px;
      height: 25px;
      left: 30px;
    }
    &:hover {
      position: relative;
      clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);

      &:after {
        transform: translateX(1200%);
        transition: transform 0.7s;
      }
    }
  }
  &-yellow {
    background: var(--yellow);
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    transition: box-shadow 0.5s, clip-path 0.2s ease;
    max-width: 20rem;

    &:hover {
      box-shadow: none;
    }
  }
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}
.noUi-target  {
  background: rgba(241, 241, 241, 0.5)!important;
  border: 0!important;
  box-shadow: none!important;
}

.noUi-handle {
  background: var(--yellow)!important;
  border: none!important;
  box-shadow: none!important;

  &::before, &::after {
    background: rgba(0, 114, 207, .4)!important;
  }
}

.noUi-tooltip {
  border:0!important;
  background: transparent!important;
  color: var(--text-light)!important;
}

.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%,200%)!important;
}

#rangePrix .noUi-tooltip::after {
  content: '€';
}
#rangeKm .noUi-tooltip::after {
  content: 'km';
}
#rangeKm, #rangePrix, #rangeYear {
  padding:0 1rem;
}
